--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.8.0+cu128
torchvision==0.23.0+cu128
torchaudio==2.8.0+cu128

vllm==0.10.2
transformers==4.57.1
tokenizers==0.22.1
openai>=1.99.0
accelerate>=1.0.0
sentence-transformers>=3.0.0
openpyxl>=3.1.0